version: '3.8'

services:
  hyperlink-api:
    image: ${DOCKER_REGISTRY-}hyperlinkapi
    build:
      context: .
      dockerfile: src/hyperlink.api/Dockerfile
    ports:
      - "5000:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80

  identity-api:
    image: ${DOCKER_REGISTRY-}identityapi
    build:
      context: .
      dockerfile: src/services/identityservice/src/identityservice.api/Dockerfile
    ports:
      - "5001:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
